

  <mat-grid-list cols="2" >
          <mat-grid-tile >
                        <mat-card class="example-card">
                          <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title> Control Center</mat-card-title>
                            <mat-card-subtitle>My id :  <mat-chip color="primary" selected>{{mypeerid}}</mat-chip>   </mat-card-subtitle>
                            <video controls [style.width.px]="lwidth" [style.height.px]="lheight"  #localvideo autoplay></video>
                          </mat-card-header>   
                          <mat-card-content >
                             
                              <video [style.width.px]="rwidth" [style.height.px]="rheight" #remotevideo autoplay></video>
                          </mat-card-content>
                          <mat-card-actions>
                              <mat-form-field class="example-full-width">
                                  <input  matInput placeholder="Peer ID" [(ngModel)]="anotherid">
                                </mat-form-field>
                                  <!-- <button mat-fab color="accent" (click)="connect()">Connect</button> -->
                                  <button mat-raised-button color="primary" (click)="videoconnect()">VideoChat</button>
                                  <button mat-raised-button color="warn" (click)="videodisconnect()">Disconnect</button>
                          </mat-card-actions>
                        </mat-card>
                
          </mat-grid-tile>

          <!-- <mat-grid-tile>
                        <mat-card class="example-card">
                          <mat-card-header>
                            <div mat-card-avatar class="example-header-image"></div>
                            <mat-card-title>Fab User</mat-card-title>
                            <mat-card-subtitle>Remote</mat-card-subtitle>
                          </mat-card-header>   
                          <mat-card-content>
                              <video #remotevideo autoplay></video>
                          </mat-card-content>
                          <mat-card-actions>                               
                                  <button mat-button>Hold</button>
                          </mat-card-actions>
                        </mat-card>
          </mat-grid-tile> -->

        
        

          
  </mat-grid-list>


          


          
    


